[user]
	name = Britt Gresham
	email = britt@brittg.com
	signingkey = 8EF14A558315B01A

[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    g = grep -I
    lg = log -p
    loq = log --graph --all --format=format:'%C(dim cyan)%G? %C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    pb = publish-branch
    rb = rbranch
    rc = rank-contributors
    reflog = reflog --format="* %C(yellow)%h%Creset %gd %C(cyan)%ar%Creset: %gs"
    rv = review
    sm = show-merges
    st = status
    stat = status
    gerp = grep
    grap = grep
    dat = clone
    mah = checkout
    rekt = reset
    uncommit = reset HEAD~
    cp = cherry-pick
    cpc = cherry-pick --continue
    cpa = cherry-pick --abort
    fixup = commit -p --fixup
    commit-fixup = !git rebase -i --autosquash $(git merge-base HEAD $1) && git status
    serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local   = yellow
    remote  = green

[core]
    editor = vim

[merge]
    tool = vimdiff
[push]
    default = matching
