[user]
    name = Britt Gresham
    email = britt@puppetlabs.com

[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    g = grep -I
    lg = log -p
    loq = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    pb = publish-branch
    rb = rbranch
    rc = rank-contributors
    rv = review
    sm = show-merges
    st = status
    stat = status
    gerp = grep
    grap = grep
    dat = clone
    mah = checkout
    rekt = reset

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local   = yellow
    remote  = green

[core]
    editor = vim

[merge]
    tool = vimdiff
[push]
    default = matching
